@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
}

.ptb-120 {
  padding: 120px 0;
}

.ptb-70 {
  padding: 70px 0;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  padding: 30px 50px;
  z-index: 999;
}

.navbar a img {
  max-height: 60px;
  width: 100%;
}

.collapse {
  justify-content: flex-end;
}

.navbar-nav {
  align-items: center;
}

.nav-item {
  margin: 0 15px;
  position: relative;
}

.nav-item .submenu {
  position: absolute;
  min-width: 240px;
  height: auto;
  box-shadow: 0 0 35px rgb(0 0 0 / 10%);
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  background: #fff;
  left: 0;
  top: 100%;
  padding: 12px 10px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.nav-item:hover .submenu {
  opacity: 1;
  visibility: visible;
}

.nav-item .submenu li a {
  display: block;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 5px 20px;
  margin: 0 10px;
  color: #1f1f25;
  font-weight: 500;
  font-size: 14px;
  border-radius: 3px;
}

.nav-item .submenu li:hover a {
  color: #fd4766;
  background: rgba(249, 0, 77, 0.07);
}

.collapse .nav-item > a {
  color: #ffffff !important;
  font-size: 1rem;
  font-weight: 500;
  padding: 20px 0;
  display: inline-block;
}

.navbar-nav .btn {
  color: #ffffff;
  border: 2px solid #ffffff33;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 500px;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  margin-left: 50px;
}

.navbar-nav .btn:hover {
  border-color: #fd4766;
  background: #fd4766;
  transition: all 0.4s ease-in-out;
}

.carousel-item {
  height: 100vh;
}

.carousel-control-prev {
  position: absolute;
  opacity: 1;
  width: 68px;
  height: 68px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50px);
  left: 50px;
  transition: 0.5s;
}

.carousel-control-next {
  position: absolute;
  opacity: 1;
  width: 68px;
  height: 68px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50px);
  right: 50px;
  transition: 0.5s;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  opacity: 0.4;
}

.carousel-control-prev:hover {
  background: #fd4766;
  border-color: #fd4766;
  left: 30px;
}

.carousel-control-next:hover {
  background: #fd4766;
  border-color: #fd4766;
  right: 30px;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  opacity: 1;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 100px;
  font-weight: 900;
}

.carousel-caption p {
  font-size: 24px;
  line-height: 40px;
  margin: 0;
  padding: 0 16%;
  font-weight: 300;
  margin-bottom: 80px;
}

.btn-default {
  color: #ffffff;
  border: 2px solid #fd4766;
  background: #fd4766;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 500px;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
}

.btn-default:hover {
  transition: all 0.4s ease-in-out;
  background: transparent;
  color: #fd4766;
}

/* Service */

.subtitle {
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 20px;
}

.title {
  font-size: 50px;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  color: #1d1d24bf;
  line-height: 30px;
}

.card h3.title {
  font-size: 20px;
}
.card p {
  margin: 0;
  font-size: 18px;
  color: #1d1d24bf;
}

.card .icon svg {
  stroke-width: 1 !important;
  width: 47px;
  height: 47px;
  color: var(--clr);
}

.row {
  margin-right: -75px;
  margin-left: -75px;
}

.card {
  padding: 30px 35px;
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    box-shadow 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  border-radius: 10px;
  background-color: #f6f6f6;
  margin-top: 30px;
  border-color: #f6f6f6;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 2px 70px 0px rgb(253 71 102 / 5%);
  transform: translateY(-5px);
}

/* Project */

.project {
  background: url(../img/bg-image-3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.project__card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    box-shadow 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}

.project__card:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 55px rgb(253 71 102 / 22%);
}

.project__card:before {
  content: "";
  opacity: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 85%;
  display: block;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    rgba(15, 15, 15, 0),
    rgba(15, 15, 15, 0.75) 100%
  );
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  cursor: pointer;
}

.project__card:hover:before {
  opacity: 0;
}

.project__card:after {
  content: "";
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 85%;
  display: block;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fd4766 100%);
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  cursor: pointer;
}

.project__card:hover:after {
  opacity: 1;
}

.project__card a {
  display: block;
  transition: all 0.4s ease-in-out 0s;
}

.project__card .project__wrap a img {
  width: 100%;
  border-radius: 10px;
  transition: transform 1s ease, opacity 0.5s ease 0.25s;
}

.project__card:hover .project__wrap a img {
  transform: scale(1.1);
}

.project__content .inner {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 30px 30px;
  z-index: 2;
  width: 100%;
  transform: translateX(-50%);
}

.project__card .project__heading {
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}

.project__card:hover .project__heading {
  transform: translateY(-62px);
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}

.project__heading > a {
  color: #ffffff;
  opacity: 0.7;
  margin: 5px;
  display: inline-block;
  letter-spacing: 0.5px;
}

.project__heading h4 a {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

.project__card .project__hover {
  opacity: 0;
  position: absolute;
  bottom: 35px;
  margin-top: 10px;
  transform: translateY(20px);
  line-height: 1.5em;
  max-width: 80%;
  transition: opacity 0.18s cubic-bezier(0.05, 0.2, 0.1, 1),
    transform 0.18s cubic-bezier(0.05, 0.2, 0.1, 1);
  height: 62px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.project__card:hover .project__hover {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1) 0.15s,
    transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1) 0.15s;
}

.project__hover p {
  margin: 10px 0 0;
  color: #ffffff;
  font-size: 18px;
  opacity: 0.7;
}

.project__card .project__transparent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.project__view {
  margin-top: 80px;
}

/* About */

.about__left {
  width: 472px;
}
.about__left img {
  width: 100%;
  border-radius: 8px;
}

.about__right .nav-tabs {
  border: 1px solid #dde2e6;
  border-radius: 50px;
}

.about__right .nav-tabs .nav-item {
  margin: 0;
  margin-bottom: -1px;
}

.nav-tabs .nav-link {
  color: #1f1f25;
  padding: 13px 34px;
  margin: -1px -2px;
  border: none;
}

.nav-tabs .nav-link:hover {
  color: #1f1f25;
  border: none;
}

.about__right .nav-link.active {
  cursor: pointer;
  padding: 13px 34px;
  margin: -1px -2px;
  border-radius: 50em;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.45s cubic-bezier(0, 0, 0.2, 1);
  display: inline-block;
  border: 0 none;
  transition: 0.3s;
  color: #ffffff;
  background: #fd4766;
}

.about__menu__tab h4 {
  color: #1f1f25;
  font-weight: 700;
}

.about__menu__tab ul li {
  color: #7e7e7e;
}

.about__menu__tab svg {
  color: #fd4766;
  margin: 5px;
}

.about__menu__tab p {
  font-weight: 300;
  color: #717173;
  font-size: 18px;
  line-height: 30px;
}

/* Testimonial */

.testimonial {
  background: #f9f9f9;
}

/* News */
.hover__display {
  opacity: 0;
  position: absolute;
  bottom: 35px;
  margin-top: 10px;
  transform: translateY(5px);
  line-height: 1.5em;
  max-width: 80%;
}

.project__card:hover .hover__display {
  opacity: 1;
}

.news .project__card .project__heading h4 a {
  font-size: 24px;
}

.hover__display .btn-opacity {
  padding: 0 23px;
  height: 40px;
  display: inline-block;
  line-height: 34px;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  z-index: 2;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  border: 2px solid #ffffff33;
  color: #ffffff;
}

.btn-opacity:hover {
  border: 2px solid #fd4766;
  transform: translateY(-3px);
  background: #fd4766;
}

/* Clients */

.clients {
  background: #f9f9f9;
}

.logo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.logo li {
  flex-basis: 33%;
  text-align: center;
  height: 214px;
  line-height: 214px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.logo li img {
  opacity: 0.8;
  transition: 0.3s;
  max-height: 110px;
  max-width: 150px;
}

.logo li:hover {
  background: #fd4766;
  transform: scale(1.1);
  border-radius: 6px;
}

/* Footer */
footer {
  background: #010001;
}

.footer__intro .inner h2 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.footer__intro .btn-default {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 26px 60px;
  border: 2px solid #ffffff33;
  background: transparent;
  color: #fff;
  font-weight: 700;
}

.footer__intro .btn-default:hover {
  border-color: #fd4766;
  background: #fd4766;
}

.footer__intro {
  position: relative;
}

.footer__intro:after {
  content: "";
  position: absolute;
  background: #ffffff33;
  max-width: 1256px;
  height: 1px;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__wrapper .footer__text {
  height: 100%;
}

.footer__wrapper .footer__text .ft__img img {
  max-height: 60px;
}

.footer__wrapper .footer__text p,
.footer__text p a {
  color: #757575;
  font-size: 1rem;
  line-height: 30px;
  letter-spacing: 1px;
}

.footer__wrapper .footer__link h4 {
  font-weight: 500;
  margin-bottom: 30px;
  color: #fff;
  font-size: 20px;
}

.footer__wrapper .footer__link ul li {
  color: #757575;
  font-size: 1rem;
}

.footer__wrapper .footer__link ul li a {
  color: #757575;
  font-size: 1rem;
  margin: 7px 0px;
  display: inline-block;
}

.col-lg-2.ml--083 {
  margin-left: 8.333333%;
}

.ft__contact ul.ft__share li {
  width: 30px;
}

.ft__contact ul.ft__share li a {
  color: #c6c9d8bf;
  box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
}

.ft__contact ul.ft__share li:hover a {
  color: #ffffff;
  transform: translateY(-3px);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer__link .ft__link li a,
.footer__text p a {
  position: relative;
}

.footer__link .ft__link li a:hover,
.footer__text p a:hover {
  color: #fd4766;
  transition: all 0.5s ease-in-out;
}

.footer__link .ft__link li a:after,
.footer__text p a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  left: 0;
  bottom: -5px;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
}

.footer__link .ft__link li a:hover:after,
.footer__text p a:hover:after {
  width: 100%;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
